@use "global" as *;
.p-contact{
    padding-top: rem(80);
    padding-bottom: rem(200);
    position: relative;
    @include mq(md){
      padding-bottom: rem(120);
      padding-top: rem(60);
    }
    }
    .p-contact::after{
      position: absolute;
      width: 100vw;
      height: 12vw;
      top: 0;
      left: 0;
      content: "";
      background: url(../img/contact-us.png)no-repeat center center / contain;
      @include mq(md){
      background: url(../img/contact-us-sp.png)no-repeat center center / contain;
        height: 24vw;
        }
    }
    .p-contact::before{
      position: absolute;
      width: 100vw;
      height: 12vw;
      bottom: 0;
      left: 0;
      content: "";
      background: url(../img/contact-bottom.png)no-repeat center center / contain;
      @include mq(md){
        background: url(../img/contact-bottom-sp.png)no-repeat center center / contain;
          height: 24vw;
          }
    }
    .p-contact__inner{
    // padding-top: rem(120);
    }
    
    .p-contact__forms{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: rem(720);
        // background: #eee;
        padding-top: rem(100);
        
    }
    
    .p-contact__texts{
      padding-top: rem(50);
      text-align: center;
      padding-bottom: rem(50);
      
    }
    
    .p-contact__text{
      line-height: 1.75;
      padding-left: 7%;
      padding-right: 7%;
      text-align: center;
      @include mq(md){
      text-align: left;
    
      }
    }

    .wpcf7-spinner::before{
        
      @include
       mq(lg){
           display: none !important;
              }
          }
          .wpcf7-spinner{
          
      @include
       mq(lg){
          display: none !important;
           }
          }
          .submit-btn{
          
      @include
       mq(lg){
          text-align: center;
           }
          }